@charset 'UTF-8';
  /***************/
 /*** Imports ***/
/***************/

/* Core */
@import 'core/xyz_config.css';
@import 'core/xyz_table.css';
@import 'core/xyz_hover.css';
@import 'core/xyz_objs.css';
/* Modules */
@import 'modules/xyz_fun.css';

  /********************/
 /*** Base Styling ***/
/********************/

html {
  background: black;
  width: 100%;
  height: 100%;
}
.xyz {
  line-height: normal;
  min-height: 100vh;

  /* Apply Base Font */
  font-family: var(--primary-font);
  color: var(--primary-color, black);
  background: var(--background, white);

  /* Flex */
  display: flex;
  flex-flow: column;
  margin: auto;

  /* Page Alignment */
  justify-content: var(--y-axis-page-align);
  align-items: var(--x-axis-page-align);
}

.xyz.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}

page {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--max-width);
  background: var(--background-color);
}

  /*****************/
 /*** SELECTION ***/
/*****************/

::selection {
  background: lightblue;
  color: white;
}

  /*****************/
 /*** SCROLLBAR ***/
/*****************/

/* Width */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
}

/* Page structure elements */
/* Header */
.xyz header {
  display: flex;
  align-content: center;
  align-items: center;
  order: 1;
}
.xyz header.row {
  flex-flow: row;
}
.xyz header.column {
  flex-flow: column;
}
.xyz header.space-between {
  justify-content: space-between;
}

/* Navbar */
/* Class for showing current page */
.navbar.b a.currentPage {
  background-color: #555;
}
.navbar.a a.currentPage {
  background-color: #555;
}
/* Main navbar styling */
.navbar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  order: 2;
}
.navbar.a {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  order: 2;
  background: #333;
  margin: 5px;
}
/* Navbar link styling */
.navbar.a a {
  flex: 1 0 50px;
  color: white;
  padding: 5px 0;

  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: #333;
  border-radius: var(--border-radius);
}
.navbar.b a {
  flex: 1 0 50px;
  color: white;
  margin: 5px;
  padding: 5px 0;

  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}

.navbar a {
  flex: 1 0 50px;
  color: white;
  margin: 0 2px;
  transition: background-color .1s;
}
.navbar a:hover {
  background-color: #444;
}
.navbar a:active {
  background-color: #333;
}

/* Main */
.xyz main {
  order: 3;
  display: flex;
  flex-flow: column wrap;
}
.xyz main.row {
  flex-flow: row wrap
}

.xyz main.column {
  flex-flow: column wrap
}



/* Footer */
.xyz footer {
  width: 100%;
  background: var(--background-color);
  align-content: center;
  text-align: center;
  order: 5;
}
.xyz footer p {
  margin: auto;
}
.xyz footer div {
  margin: auto;
}
/* Social Links */
.xyz footer .social {
  margin: 10px;
  font-size: 200%;
}
.xyz footer .social a {
  margin: 10px;
}

/* Aside */
.xyz aside {
  order: 4;
}

/*** Border ***/
.border {
  margin: 5px;
  padding: 20px;
  text-align: center;
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
  /* -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000; */
}

/* Links */
a {
  text-decoration: none;
}

/* Button */
.btn {
  color: var(--tertiary-color);
  background: var(--colorGradient4);
  display: inline-block;
  margin: 5px;
  padding: 5px;
  flex: 1 1;
}
.btn:hover {
  filter: brightness(120%);
}


/***********
 *  Color  *
 ***********/
.spotify {
  color: #1ed761;
}
.instagram {
  color: #55acee;
}
.black {
 color: black;
}
.white {
 color: white;
}
.whitesmoke {
 color: whitesmoke;
}
.dimgrey {
 color: dimgrey;
}
.blue {
  color: #55acee;
}
.purple {
  color: #6441a4;
}
.red {
  color: #f00;
}
.green {
  color: green;
}
.darkblue {
  color: #4078c0;
}
.orange {
  color: #f96854;
}

/*****************
 *  Button List  *
 *****************/

.button-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  align-items: center;
}
.button-list a {
  flex: 1 0 100px;
  margin: 10px 0;
  padding: 5px 0;
  font-size: 1em;
  list-style-type: none;
  transition: color ease-in-out .2s;
}
.button-list a:hover {
  color: white;
  filter: brightness(500%);
}
.button-list a p {
  font-size: 1em;
  margin: 0;
}

/* Main */
.xyz h1,.xyz h2,.xyz h3,.xyz h4 {
  text-transform: uppercase;
  font-family: var(--header-font);
  font-weight: normal;
  margin: .2em 0 .2em 0;
}

/* Flex Layout */
.block-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.row {
  flex-flow: row wrap
}

.column {
  flex-flow: column wrap
}


/************
 *  Inputs  *
 ************/

input.xyz {
  margin: 0 auto;
}

.center {
  margin: auto;
}

#XYZContent {
  display: flex;
  flex-flow: column;
  align-self: center;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  background: var(--background-color);
  order: 3;
}

xyz-logo a span {
  transition: color .4s;
}
xyz-logo a:hover span {
  color: white;
}
xyz-logo span:nth-of-type(1) {
  color: red;
}
xyz-logo span:nth-of-type(2) {
  color: green;
}
xyz-logo span:nth-of-type(3) {
  color: rgb(29, 89, 205);
}

/********** Media Queries **********/
/*
@media screen and (max-width: 500px) {
  .xyz header {
    padding: 5px 0;
  }
  .xyz footer {
    padding: 20px 0;
  }
} */
