/* Animation Keyframes */
/* Slide In */
@keyframes fade-in {
  from {opacity:0;}
  to {opacity:1;}
}
@-webkit-keyframes slide-in-bottom {
  from {transform:translateY(20px);opacity:0;}
  to {transform:translateY(0);opacity:1;}
}
@keyframes slide-in-bottom {
  from {transform:translateY(20px);opacity:0;}
  to {transform:translateY(0);opacity:1;}
}
@-webkit-keyframes slide-in-top {
  from {transform:translateY(-20px);opacity:0;}
  to {transform:translateY(0);opacity:1;}
}
@keyframes slide-in-top {
  from {transform:translateY(-20px);opacity:0;}
  to {transform:translateY(0);opacity:1;}
}
@keyframes slide-in-back {
  from {transform:scale(.8);opacity:0;}
  to {transform:translateY(1);opacity:1;}
}
@keyframes rotate-right-360 {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
@keyframes rotate-left-360 {
  from {transform:rotate(0deg);}
  to {transform:rotate(-360deg);}
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
@keyframes dance {
  0%   { transform: scaleX(1) translate(0, 0px); }
  1%   { transform: scaleX(-1) translate(0, 20px); }
  40%   { transform: scaleX(-1) translate(0, 20px); }
  41% { transform: scaleX(1) translate(0, 0px); }
  80% { transform: scaleX(1) translate(0, 0px); }
  81% { transform: scaleX(1) translate(0, 20px); }
  100% { transform: scaleX(1) translate(0, 20px); }
}

:root {
  --anim-name: none;
  --anim-duration: 1s;
  --anim-timing-function: ease;
  --anim-delay: 0.1s;
  --anim-iteration-count: 1;
}

[anim] {
  animation: var(--anim-name)
             var(--anim-duration)
             var(--anim-timing-function)
             var(--anim-delay)
             var(--anim-iteration-count);
}

/* Durations */
[anim~="dur:.5s"] { --anim-duration: .5s; }
[anim~="dur:1s"]  { --anim-duration: 1s; }
[anim~="dur:2s"]  { --anim-duration: 2s; }
[anim~="dur:3s"]  { --anim-duration: 3s; }
[anim~="dur:4s"]  { --anim-duration: 4s; }

/* Delays */
[anim~="del:.5s"] { --anim-delay: .5s; }
[anim~="del:1s"]  { --anim-delay: 1s; }
[anim~="del:2s"]  { --anim-delay: 2s; }
[anim~="del:3s"]  { --anim-delay: 3s; }
[anim~="del:4s"]  { --anim-delay: 4s; }

/* Timing */
[anim~='linear'] { --anim-timing-function: linear; }
[anim~='ease'] { --anim-timing-function: ease; }

/* Iteration Count */
[anim~='play:1'] { --anim-iteration-count: 1; }
[anim~='play:2'] { --anim-iteration-count: 2; }
[anim~='play:3'] { --anim-iteration-count: 3; }
[anim~='play:4'] { --anim-iteration-count: 4; }
[anim~='infinite'] { --anim-iteration-count: infinite; }

/* Names */
[anim^='fade-in'] { --anim-name: fade-in both; }
[anim^='rotate-right-360'] { --anim-name: rotate-right-360 both; }
[anim^='rotate-left-360'] { --anim-name: rotate-left-360 both; }
[anim^='slide-in-back'] {	--anim-name: slide-in-back both; }
[anim^='slide-in-top'] { --anim-name: slide-in-top both; }
[anim^='slide-in-bottom'] { --anim-name: slide-in-bottom both; }
[anim^='marquee'] {--anim-name: marquee both;}
[anim^='dance'] {--anim-name: dance both;}

.marquee {
  background-color: black;
  color: lime;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
