/* Flex Layout */
.block-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
}

/* Flex-flow */
.row {
  flex-flow: row wrap;
  display: flex;
}
.column {
  flex-flow: column wrap;
  display: flex;
}

/* Justify Content */
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}

/* Logo */
header .logo {
  color: var(--color-logo);
  font-size: 3em;
  text-align: center;
  width: 100%;
}

/* Lightswitch */
.lightswitch-on {
  background: white;
  color: black;
}
.lightswitch-off {
  background: black;
  color: white;
}

/* Text Align */
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}

/* Hide */
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}

/* Filters */
.ph {
  filter: brightness(40%);
}
.blur {
  filter: blur(20%);
}
.invert {
  filter: invert();
}
