/* Flex Layout */
.block-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
}

/* Flex-flow */
.row {
  flex-flow: row wrap;
  display: flex;
}
.column {
  flex-flow: column wrap;
  display: flex;
}

/* Justify Content */
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}

/* Text Align */
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}

/* Hide */
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
