@charset 'UTF-8';

  /* IMPORTS */

/* Core */
@import 'zoon_vars.css';
@import 'zoon_mods.css';
@import 'zoon_tags.css';
@import 'zoon_objs.css';
@import 'zoon_anim.css';

  /* BREAKPOINTS */

/* Should typically have 1-3 font sizes. (Heading, Subheading, Body)
Typical screen sizes (from Bootstrap):
xs — for screens less than 768px (phones)
sm — for screens =< 768px (tablets)
md — for screens =< 992px (small laptops)
lg — for screens =< 1200px (big screens) */

@media (max-width: 1200px) {
  .hide\:1200px {
    display: none;
  }
}
@media (max-width: 992px) {
  .hide\:992px {
    display: none;
  }
}
@media (max-width: 768px) {
  .hide\:768px {
    display: none;
  }
}
@media (max-width: 600px) {
  .hide\:600px {
    display: none;
  }
}

  /* SELECTION */

::selection {
  background: var(--selection-background, lightblue);
  color: var(--selection-color, white);
  text-shadow: none;
}

  /* SCROLLBAR */

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
}


/* Navbar */
/* Class for showing current page */
zoon-nav.b a.currentPage {
  background-color: #555;
}
zoon-nav.a a.currentPage {
  background-color: #555;
}
/* Main navbar styling */
zoon-nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  order: 2;
  width: 100%;
  max-width: var(--max-width);
  background: var(--background-color);
}
zoon-nav.a {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  order: 2;
  background: #333;
  margin: var(--margin);
}
/* Navbar link styling */
zoon-nav.a a {
  flex: 1 0 50px;
  color: white;
  padding: 5px 0;

  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: #333;
  border-radius: var(--border-radius);
}
zoon-nav.b a {
  flex: 1 0 50px;
  color: white;
  margin: var(--margin);
  padding: 5px 0;

  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}

zoon-nav a {
  flex: 1 0 50px;
  color: white;
  margin: 0 2px;
  transition: background-color .1s;
}
zoon-nav a:hover {
  background-color: #444;
}
zoon-nav a:active {
  background-color: #333;
}


/*** Border ***/
.border {
  margin: var(--margin);
  padding: 20px;
  text-align: center;
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}

/* Button */
.btn {
  color: var(--color-accent-1);
  background: var(--color-main-2);
  display: inline-block;
  margin: var(--margin);
  padding: 5px;
  flex: 1 1;
}
.btn:hover {
  filter: brightness(120%);
}


/***********
 *  Color  *
 ***********/
.spotify {
  color: #1ed761;
}
.instagram {
  color: #55acee;
}
.black {
 color: black;
}
.white {
 color: white;
}
.whitesmoke {
 color: whitesmoke;
}
.dimgrey {
 color: dimgrey;
}
.blue {
  color: #55acee;
}
.purple {
  color: #6441a4;
}
.red {
  color: #f00;
}
.green {
  color: green;
}
.darkblue {
  color: #4078c0;
}
.orange {
  color: #f96854;
}

/*****************
 *  Button List  *
 *****************/

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  font-size: 2em;
}
.button-list li {
  flex: 1 1;
  margin: 10px 0;
  padding: 30px;
  font-size: 1em;
  width: 100%;
  transition: color ease-in-out .2s;
  display: flex;
  justify-content: center;
}
.button-list a:hover {
  color: white;
}
.button-list a p {
  font-size: 1em;
  margin: 0;
}

zoon-logo a {
  color: #d141ff;
  transition: color .4s;
}
zoon-logo a:hover span {
  color: white;
}

zoon-query {
  display: inherit;
  flex-flow: inherit;
}

z-data {
  display: none;
}

/* Default */

.default {
  --body-padding:10px;
}
.default section {
  background: var(--color-main-1);
}
.default header {
  text-align: center;
}
.default main {
  background: #2c2c2c;
  border: 2px rgba(1,1,1,0.1) solid;
  padding: 10px;
  margin: 5px;
}
.default body {
  padding: 0 10px
}

/* Layouts */
.use-layout main {
  align-self: flex-start;
}
.single-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: "header" "main" "footer";
  place-items: center;
}
