@charset 'UTF-8';

  /* IMPORTS */

/* Core */
@import 'zoon_vars.css';
@import 'zoon_mods.css';
@import 'zoon_tags.css';
@import 'zoon_objs.css';
@import 'zoon_anim.css';

  /* SELECTION */

::selection {
  background: var(--selection-background, lightblue);
  color: var(--selection-color, white);
  text-shadow: none;
}

  /* SCROLLBAR */

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
}


/* Navbar */
/* Class for showing current page */
.navbar.b a.currentPage {
  background-color: #555;
}
.navbar.a a.currentPage {
  background-color: #555;
}
/* Main navbar styling */
.navbar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  order: 2;
  width: 100%;
  max-width: var(--max-width);
  background: var(--background-color);
}
.navbar.a {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  order: 2;
  background: #333;
  margin: var(--margin);
}
/* Navbar link styling */
.navbar.a a {
  flex: 1 0 50px;
  color: white;
  padding: 5px 0;

  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: #333;
  border-radius: var(--border-radius);
}
.navbar.b a {
  flex: 1 0 50px;
  color: white;
  margin: var(--margin);
  padding: 5px 0;

  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}

.navbar a {
  flex: 1 0 50px;
  color: white;
  margin: 0 2px;
  transition: background-color .1s;
}
.navbar a:hover {
  background-color: #444;
}
.navbar a:active {
  background-color: #333;
}


/*** Border ***/
.border {
  margin: var(--margin);
  padding: 20px;
  text-align: center;
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}

/* Button */
.btn {
  color: var(--tertiary-color);
  background: var(--colorGradient4);
  display: inline-block;
  margin: var(--margin);
  padding: 5px;
  flex: 1 1;
}
.btn:hover {
  filter: brightness(120%);
}


/***********
 *  Color  *
 ***********/
.spotify {
  color: #1ed761;
}
.instagram {
  color: #55acee;
}
.black {
 color: black;
}
.white {
 color: white;
}
.whitesmoke {
 color: whitesmoke;
}
.dimgrey {
 color: dimgrey;
}
.blue {
  color: #55acee;
}
.purple {
  color: #6441a4;
}
.red {
  color: #f00;
}
.green {
  color: green;
}
.darkblue {
  color: #4078c0;
}
.orange {
  color: #f96854;
}

/*****************
 *  Button List  *
 *****************/

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  font-size: 2em;
}
.button-list li {
  flex: 1 1;
  margin: 10px 0;
  padding: 30px;
  font-size: 1em;
  width: 100%;
  transition: color ease-in-out .2s;
  display: flex;
  justify-content: center;
}
.button-list a:hover {
  color: white;
}
.button-list a p {
  font-size: 1em;
  margin: 0;
}

/************
 *  Inputs  *
 ************/

input.zoon {
  margin: 0 auto;
}

zoon-logo a {
  color: #d141ff;
  transition: color .4s;
}
zoon-logo a:hover span {
  color: white;
}

zoon-query {
  display: inherit;
  flex-flow: inherit;
}


.marquee {
  background-color: black;
  color: lime;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
