@charset 'UTF-8';

:root {

  --margin: 5px;
  --y-axis-page-align: flex-start;
  --x-axis-page-align: center;
  --align-text: left;

  /** Colors **/
  --color-accent-1: cornflowerblue;
  --color-accent-2: blue;
  --color-accent-3: lightblue;
  --color-accent-4: darkblue;

  --color-logo: blue;
  --color-text: #dddddd;
  --color-main-1: #222;
  --color-main-2: darkgrey;
  --color-main-3: lime;

  --background-color: transparent;
  --background-border-color: #1d1d1d;
  --border-bg-color: #222;

  --background: #111;

  /** Border **/
  --border-type: solid;
  --border-thickness: 0px;
  --border-radius: 0px;
  --border-color: #333;

  /* Scrollbar */
  --scrollbar-width: 5px;
  --scrollbar-track: #111;
  --scrollbar-handle: grey;

  /* Selection */
  --selection-background: lightblue;
  --selection-color: white;

  /* Sizes */
  /* Page Width */
  --max-width: 1300px;

  /* Fonts */
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-header: 'Open Sans', sans-serif;
  --font-logo: 'Open Sans', sans-serif;
  --font-size: var(--responsive-font-size);

}
