/* Styling for all of the different objects within an XYZ page */

/* Objects */
.obj {
  margin: 5px;
  padding: 20px;
  text-align: center;
  /* flex */
  display: flex;
  flex-flow: column;
  flex: 1 1 42%;
}
obj > * {
  margin: auto;
}
.obj.title {
  background: 0;
}
/* Image Styling */
.obj img {
  margin: 0 auto;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

/** Object Modifiers **/
.obj.bg {
  background: var(--border-bg-color);
}
.obj.bdr {
  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
}
/* Padding */
.p-10 {
  padding: 10px
}
.p-20 {
  padding: 20px
}
.p-0-10 {
  padding: 0 10px
}
.p-0-20 {
  padding: 0 20px
}
/* Max-width */
.mw-300 {
  max-width: 300px
}
.mw-400 {
  max-width: 400px
}
.mw-500 {
  max-width: 500px
}
.mw-600 {
  max-width: 600px
}
/* Flex Weights */
.obj.fl-20 {
  flex: 1 1 20%;
}
.obj.fl-30 {
  flex: 1 1 30%;
}
.obj.fl-40 {
  flex: 1 1 40%;
}
.obj.fl-50 {
  flex: 1 1 50%;
}
.obj.fl-60 {
  flex: 1 1 60%;
}

/* Grouping */
.group-r {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
}
.group-c {
  flex-flow: column wrap;
  display: flex;
  justify-content: center;
}

/*** Pre-built Components ***/

/* Navbox */
.navbox .nav {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
}
.navbox .nav a {
  flex: 1 1 50px;
  padding: 5px 5px;
  margin: 5px;
  user-select: none;
  transition: background-color .1s;
  text-decoration: none;
  color: var(--secondary-color);
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}
.navbox .nav a:hover {
background-color: #444;
}
.navbox .nav a:active {
background-color: #333;
}
