/* Markdown Styling for XYZ */


/* Content Styling */

/* Headings */
.xyz-md h1, .xyz-md h2, .xyz-md h3, .xyz-md h4, .xyz-md h5, .xyz-md h6 {
  text-align: center;
  background: #333;
  color: white;
}

.xyz-md h1 {
  margin: 20px;
  padding: 20px;
}
.xyz-md h2 {
  margin: 20px 40px;
  padding: 20px;
}
.xyz-md h3 {
  margin: 20px 60px;
  padding: 20px;
}
.xyz-md h4 {
  margin: 20px 80px;
  padding: 20px;
}
.xyz-md h5 {
  margin: 20px 100px;
  padding: 20px;
}
.xyz-md h6 {
  margin: 20px 100px;
  padding: 20px;
}

/* Images */
.xyz-md img {
  max-width: 800px;
  width: 100%;
  display: block;
  margin: auto;
}

/* Blockquote */
.xyz-md blockquote {
  text-align: center;
  background: #333;
  color: white;
  padding: 5px;
  text-align: center;
}

/* Paragraphs */
.xyz-md p {
  margin: 1em 2em;
  text-align: justify;
}

/* Links */
.xyz-md a {
  color: #4ebeff;
  text-decoration: none;
}
.xyz-md .h-link {
  color: #4ebeff;
  text-decoration: none;
  max-width: 800px;
  display: block;
  margin: 1em auto;
  text-align: center;
  background: #333;
  border: 10px solid #333;
}
