@charset 'UTF-8';
/************  Imports  ************/

/* Core */
@import 'core/xyz_config.css';
@import 'core/xyz_layout.css';
@import 'core/xyz_table.css';
@import 'core/xyz_hover.css';
@import 'core/xyz_objs.css';

/* Modules */
@import 'modules/xyz_fun.css';

/************  Imports  ************/

/**** Base Stlying ****/

/*** Body Wrapper ***/
.xyz {
  padding: 0 10px;
  line-height: 1.5;
  min-height: 100vh;

  /* Apply Base Font */
  font-family: var(--primary-font);
  max-width: var(--max-width);
  color: var(--primary-color);
  background: var(--background-color);

  /* Flex */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;

  /* Borders */
  border-left: 10px solid var(--background-border-color);
  border-right: 10px solid var(--background-border-color);
}

::selection {
  background: lightblue;
  color: white;
}

/*** Scrollbar ***/

/** Width **/
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
}

/* Scrollbar Fix */
html {
  margin-left: calc(100vw - 100%);
}
@media screen and (max-width: 1300px) {
  html {
    margin-left: 0;
  }
}

/* Header */
.xyz header {
  width: 100%;
  background: var(--background-color);
  display: flex;
  align-content: center;
  padding: 29px 0;
  order: 1;
}

/* Navbar */
.navbar, .navbar-b {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  order: 2;
}
.navbar a {
  flex: 1 0 50px;
  background: grey;
  color: white;
  margin: 0 2px;
}
.navbar-b a {
  flex: 1 0 50px;
  color: white;
  margin: 0 2px;
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}
#active {
  background-color: #555;
}

/* Main */
.xyz main {
  order: 3;
}

/* Footer */
.xyz footer {
  width: 100%;
  background: var(--background-color);
  display: flex;
  align-content: center;
  padding: 29px 0;
  text-align: center;
  order: 5;
}
.xyz footer p {
  margin: auto;
}
.xyz footer div {
  margin: auto;
}

/* Aside */
.xyz aside {
  order: 4;
}

/*** Border ***/
.border {
  margin: 5px;
  padding: 20px;
  text-align: center;
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
  /* -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000; */
}

/* Links */
a {
  text-decoration: none;
}

/* Button */
.btn {
  border: solid 1px darkgray;
  display: inline-block;
  margin: 5px;
  padding: 5px 40px;
}
.btn:hover {
  filter: brightness(120%);
}

/* Navbox */
.navbox .nav {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
  margin: 5px 5px 0 5px;
}
.navbox .nav a {
  flex: 1 0 50px;
  padding: 3px 6px;
  user-select: none;
  transition: color ease-in-out .2s, border ease-in-out .2s;
  text-decoration: none;
  color: var(--secondary-color);
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}
.navbox .nav a:hover {
  color: white;
  border-color: white;
}
.navbox .border {
  border-top: 0;
  margin-top: 0;
}

/***********
 *  Color  *
 ***********/
.black {
 color: black;
}
.white {
 color: white;
}
.whitesmoke {
 color: whitesmoke;
}
.dimgrey {
 color: dimgrey;
}
.blue {
  color: #55acee;
}
.purple {
  color: #6441a4;
}
.red {
  color: #f00;
}
.green {
  color: green;
}
.darkblue {
  color: #4078c0;
}
.orange {
  color: #f96854;
}

/*****************
 *  Button List  *
 *****************/

.button-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  align-items: center;
}
.button-list a {
  flex: 1 0 100px;
  margin: 10px 0;
  padding: 5px 0;
  font-size: 1em;
  list-style-type: none;
  transition: color ease-in-out .2s;
}
.button-list a:hover {
  color: white;
  filter: brightness(500%);
}
.button-list a p {
  font-size: 1em;
  margin: 0;
}

/* Main */
.xyz h1,.xyz h2,.xyz h3,.xyz h4 {
  text-transform: uppercase;
  font-family: var(--header-font);
  font-weight: normal;
  margin: .2em 0 .2em 0;
}

/* Flex Layout */
.block-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.block {
  flex: 1 1 350px;
}
.block-2 {
  flex: 2 0 250px;
}
.block-3 {
  flex: 1 0 150px;
}

/************
 *  Inputs  *
 ************/

input.xyz {
  margin: 0 auto;
}

/********** Media Queries **********/

@media screen and (max-width: 500px) {
  .xyz header {
    padding: 20px 0;
  }
  .xyz footer {
    padding: 20px 0;
  }
}
