@charset 'UTF-8';
/************  START IMPORTS  ************/
/**********
 *  Core  *
 **********/
@import 'core/xyz_config.css';
@import 'core/xyz_layout.css';
/*************
 *  Modules  *
 *************/
@import 'modules/xyz_fun.css';

/************  END IMPORTS  ************/
/****************
 *  Background  *
 ****************/
body {
  background: #333;
  font-family: var(--primary-font);
}

/************
 *  Border  *
 ************/
.border {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 3px double var(--secondary-color);
  background: var(--background-color);
  filter: brightness(100%)
}
.border .border {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  filter: brightness(120%)
}
/***********
 *  Links  *
 ***********/
a {
  text-decoration: none;
}

a.blue {
  color: #55acee;
}

a.purple {
  color: #6441a4;
}

a.red {
  color: #f00;
}

/************
 *  Header  *
 ************/
.xyz__header header {
  font-size: 2em;
  margin: 12% auto;
}

.xyz__header header a {
  user-select: none;
  transition: background ease-in-out .2s;
  text-decoration: none;
}

.xyz__header header a:hover {
  text-decoration: none;
  color: black;
  background: lime;
}

/********************
 *  Navigation Bar  *
 ********************/
nav a {
  display: inline-block;
  margin: auto;
  width: 20%;
  padding: 3px 6px;
  user-select: none;
  transition: background ease-in-out .2s;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  border: 4px double var(--primary-color);
  background: black;
}

nav a:hover {
  color: black;
  background: limegreen;
}

/****************
 *  Containers  *
 ****************/

/***********
 *  Extra  *
 ***********/
.xyz__extra div {
  font-size: 2em;
  padding: 5px;
}

/**********
 *  Main  *
 **********/
.xyz__main div {
  padding: 5px;
}

.xyz h3 {
  margin: 10px 0;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-weight: normal;
}

.xyz p {
  margin: 0;
  text-transform: lowercase;
  color: var(--primary-color);
  font-family: var(--primary-font);
}

.xyz ul {
  padding: 0;
}

.xyz ul li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  border: 1px solid var(--primary-color);
}

/************
 *  Footer  *
 ************/
.xyz__footer div {
  font-family: var(--primary-font);
  margin: 5px;
  text-align: center;
  color: var(--primary-color);
}

/***************
 *  Scrollbar  *
 ***************/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  box-shadow: inset 0 0 5px black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: limegreen;
}

/*******************
 *  Media Queries  *
 *******************/
@media screen and (max-width: 450px) {
  .xyz {
    grid: [row1-start] 'header'40px [row1-end]
          [row2-start] 'navbar'50px [row2-end]
          [row3-start] 'main'1fr [row3-end]
          [row4-start] 'footer'50px [row4-end]
          / 100%;
  }

  .xyz__header {
    font-size: .7em;
  }

  .xyz__main {
    font-size: 1.5em;
  }

  .xyz__navbar {
    font-size: 1.1em;
  }

  .xyz__footer {
    font-size: .9em;
  }
  nav a {
    width: 13%;
    padding: 1px 4px;
    user-select: none;
    border: 4px double var(--primary-color);
    background: black;
  }
}

@media screen and (min-width: 800px) {
  .xyz__navbar {
    font-size: 1.5em;
  }
}
