/* Custom Element Styles */
zoon-logo a {
  color: #d141ff;
  transition: color .4s;
}
zoon-logo a:hover span {
  color: white;
}

zoon-query {
  display: inherit;
  flex-flow: inherit;
}

z-html {
  display: inherit;
  flex-flow: inherit;
}

z-nav {
  display: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  text-align: inherit;
}

z-data {
  display: none;
}

z-lightswitch {
  width: 50px;
  height: 50px;
  background: #aaaaaa;
  align-self: center;
  text-align: center;
  line-height: 1.1em;
  cursor: pointer;
  font-size: 3em;
}
