/* Shake Effect */
.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Marquee */
.marquee {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.marquee p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 5s linear infinite;
 -webkit-animation: scroll-left 5s linear infinite;
 animation: scroll-left 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}

/* JADE */
/* This is the styling for JADE */
.jade {
  position: sticky;
  z-index: 1;
  transform: scale(.9)
}
.eye {
  cursor: pointer;
  transition: transform 1s ease;
  transform: scale(.9);
  animation: 2s infinite ease-out;
  stroke: darkslategrey;
  stroke-width: 0;
  fill: url(#RadialGradient1);
}
.eye:hover {
  transform: scale(1.1)
}
@keyframes glow {
  0% {
    transform: scaleX(.9) scaleY(1.1);
  }

  25% {
    transform: scaleX(1) scaleY(.8);
  }

  50% {
    transform: scaleX(1.1) scaleY(.9);
  }

  75% {
    transform: scaleX(1.2) scaleY(1);
  }

  100% {
    transform: scaleX(.9) scaleY(1.1);
  }
}
.outerhex {
  transform: scale(.9);
  animation: outer 5s infinite;
  fill: rgb(7, 7, 7);
  stroke-width: 5px;
  stroke: #1f0;
  filter: drop-shadow(rgba(0, 255, 0, 1) 5px 5px 5px);
}
.innerhex {
  transform: scale(.8);
  animation: inner 5s infinite linear;
  fill: black;
  stroke-width: 5px;
  stroke: #1f0;
  filter: drop-shadow(rgba(0, 255, 0, 1) 0 0 50px);
}
@keyframes inner {
  0% {
    transform: scale(.6) rotate(0deg);
  }

  50% {
    transform: scale(.8) rotate(180deg);
  }

  100% {
    transform: scale(.6) rotate(360deg);
  }
}
@keyframes outer {
  0% {
    transform: scale(.9) rotate(30deg);
  }

  50% {
    transform: scale(1) rotate(-60deg);
  }

  100% {
    transform: scale(.9) rotate(30deg);
  }
}
