@media screen and (max-width: 450px) {
	.xyz {
		grid: [row1-start] "header" 60px [row1-end]
					[row2-start] "extra" 50px  [row2-end]
				  [row3-start] "main" 1fr 	 [row3-end]
				  [row4-start] "footer" 50px [row4-end]
				  / 100%
	}
	.xyz__main {
		font-size: 1.5em;
	}
	.xyz__header nav {
	  margin: 10px;
	}
	.xyz__footer {
		font-size: .8em;
	}
	.xyz__header .menu {
		display: block;
	}
}

@media screen and (min-width: 800px) {
	.xyz__header nav {
	  font-size: 1.5em;
	}
}
