:root {

  /****************
   *  Main Theme  *
   ****************/

  --os-window-color: #a96fac;
  --os-background-color: black;
  --os-text-color: white;

}

/****************************/

.window {
  max-width: 500px;
  min-width: min-content;
  margin: 20px;
  color: var(--os-text-color);
  flex: 0 1 auto;
}
.window .title {
  background: var(--os-window-color);
  padding: 10px;
  cursor: move;
}
.window .content {
  border: 3px solid var(--os-window-color);
  background: var(--os-background-color);
  border-top: 0px solid;
  padding: 20px;
}
.window img {
  border: 3px solid var(--os-window-color);
  background: var(--os-background-color);
  border-top: 0px solid;
}
.window .icons {
  background: red;
}

.os {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.taskbar {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  background-color: var(--os-window-color);
  color: white;
}
.taskbar .tab {
  background: #8f5e91;
  padding: 10px;
  margin: 5px;
  max-width: max-content;
  flex: 0 1 auto;
  text-align: center;
}
.taskbar .icon {
  margin: 5px;
}
