@charset 'UTF-8';

/***************
 *  Variables  *
 ***************/
:root {
  /****************
   *  Main Theme  *
   ****************/
  --primary-color: green;
  --secondary-color: lime;
  --tertiary-color: limegreen;
  --background-color: black;

  --inner-border-color: lime ;
  --outer-border-color: green;
  /************
   *  Colors  *
   ************/
  /***************
   *  Font Size  *
   ***************/
  --small: .8em;
  --medium: 1.1em;
  --large: 1.4em;
  /************
   *  Images  *
   ************/
  --background-image: url();
  /***********
   *  Fonts  *
   ***********/
  --F1: Verdana, Geneva, sans-serif;
  --F2: Arial, Helvetica, sans-serif;
  --F3: Tahoma, Geneva, sans-serif;
  --font-size: var(--responsive-font-size);
}

/***************
 *  Font-Face  *
 ***************/
/************
 *  Custom  *
 ************/
