@charset 'UTF-8';

/***************
 *  Variables  *
 ***************/
:root {

  /************
   *  Colors  *
   ************/
  --primary-color: lime;

  --secondary-color: limegreen;

  --border-color: #32cd32;

  --background-color: #333;

  --foreground-color: #000;

  /************
   *  Images  *
   ************/

   --background-image: url();

  /***********
   *  Fonts  *
   ***********/

  --header-font: Verdana, Geneva, sans-serif;

  --primary-font: Arial, Helvetica, sans-serif;

  --button-font: Tahoma, Geneva, sans-serif;

  --font-size: var(--responsive-font-size);

}

/***************
 *  Font-Face  *
 ***************/
