
@font-face {
	font-family: 'pcSenior';
	src: url('/fonts/pcsenior.ttf');
	src:
		local('PC Senior'),
		local('PC-Senior'),
		url('/fonts/pcsenior.ttf')
		format('truetype');
}

@font-face {
	font-family: 'EXEPixelPerfect';
	src: url('/fonts/EXEPixelPerfect.ttf');
	src:
		local('EXEPixelPerfect'),
		local('EXEPixelPerfect'),
		url('/fonts/EXEPixelPerfect.ttf')
		format('truetype');
}

@font-face {
	font-family: 'kirbyss';
	src: url('/fonts/kirbyss.ttf');
	src:
		local('kirbyss'),
		local('kirbyss'),
		url('/fonts/kirbyss.ttf')
		format('truetype');
}

@font-face {
	font-family: 'ROADWAY';
	src: url('/fonts/ROADWAY_.ttf');
	src:
		local('ROADWAY'),
		local('ROADWAY'),
		url('/fonts/ROADWAY_.ttf')
		format('truetype');
}

@font-face {
	font-family: 'orange_kid';
	src: url('/fonts/orange_kid.ttf');
	src:
		local('orange_kid'),
		local('orange_kid'),
		url('/fonts/orange_kid.ttf')
		format('truetype');
}
