
/***********
 *  Table  *
 ***********/
table.xyz {
 margin: auto;
 padding: 0;
 table-layout: auto;
 border: none;
 width: 95%;
}

table, th, td {
  text-align: center;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  filter: brightness(130%)
}

thead {
  text-align: left;
  font-family: var(--header-font);
  filter: brightness(80%);
}

tr:nth-child(even) {
  filter: brightness(120%);
}


table tr {
  padding: .2em;
}

table th,
table td {
  padding: .15em;
  text-align: center;
}

table th {
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: .85em;
}

select.xyz {
  height: 40px;
}
/**********************
 *  Responsive Table  *
 **********************/
