/* Styling for all of the different objects within an XYZ page */
.obj {
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.obj.title {
  background: 0;
}

/* Grouping */

.group-h {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
}

/*** Pre-built Components ***/

/* Navbox */
.navbox .nav {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
}
.navbox .nav a {
  flex: 1 0 50px;
  padding: 5px 5px;
  margin: 5px;
  user-select: none;
  transition: background-color .1s;
  text-decoration: none;
  color: var(--secondary-color);
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}
.navbox .nav a:hover {
background-color: #444;
}
.navbox .nav a:active {
background-color: #333;
}
