@charset 'UTF-8';

/***************
 *  Variables  *
 ***************/
:root {
  /****************
   *  Main Theme  *
   ****************/
  --primary-color: grey;
  --secondary-color: darkgrey;
  --tertiary-color: lime;
  --background-color: #111;

  /* Border */
  --border-type: solid;
  --border-thickness: 2px;
  --border-radius: 0px;
  --border-color: black;

  /***********
   *  Sizes  *
   ***********/
  --max-width: 1300px;
  --margin-width: 900px;

  /***********
   *  Fonts  *
   ***********/
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --header-font: 'Open Sans', sans-serif;
  --font-size: var(--responsive-font-size);

  /************
   *  Images  *
   ************/
}

/***************
 *  Font-Face  *
 ***************/
/************
 *  Custom  *
 ************/
