@charset 'UTF-8';

:root {
  /** Theme Colors **/
  /* These are the main colors used for stlying elements across the app */
  --primary-color: #bbb;
  --secondary-color: #222;
  --tertiary-color: lime;
  --background-color: transparent;
  --background-border-color: #1d1d1d;
  --border-bg-color: #222;

  --background: #151515;

  /** Border **/
  --border-type: solid;
  --border-thickness: 0px;
  --border-radius: 0px;
  --border-color: #333;

  /* Scrollbar */
  --scrollbar-width: 5px;
  --scrollbar-track: #111;
  --scrollbar-handle: grey;

  --max-width: 1000px;

  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --header-font: 'Open Sans', sans-serif;
  --font-size: var(--responsive-font-size);

}

/************
 *  Custom  *
 ************/
.docsContents {
  flex: 1 1 10%;
  overflow: scroll;
  height: 300px;
  overflow-x: auto;
}
.docsContents a:before {
  color: #b9b9b9;
  content: '> ';
  padding-left: 10px;
}
.docsContents h3 {
    padding-top: 10px;
}
.docsContents h3:nth-of-type(1) {
    padding-top: 0;
}

section {
  background: var(--secondary-color);
}

header {
  margin: 0 20px;
}
.logo {
  font-size: 5em;
  margin: auto;
  font-family: 'Anonymous Pro', monospace;
  color: #ab4cef;
}
.js {
  background: -webkit-linear-gradient(270deg, rgb(145, 148, 0) 0%, rgb(252, 255, 93) 50%, rgb(145, 148, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.css {
  background: -webkit-linear-gradient(270deg, rgb(105, 0, 148) 0%, rgb(155, 65, 217) 50%, rgb(105, 0, 148) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* zoon */
.zoon-theme {
  color: grey;
  background: #161515;
}
.zoon-theme .btn {
  color: dimgrey;
  background: #0b0b0b;
}
.zoon-theme img {
  object-fit: cover;
  height: 70px;
}
