<footer>
  <div>a <a href="https://vaynwork.com">Vaynwork</a> project<br>visit the repo on <a href="https://github.com/vaynwork/XYZ">Github</a></div>
</footer>

<main>
  <div class="obj docsContents">
    <h3>HTML</h3>
    <a href="/docs/html/header">Header</a>
    <a href="/docs/html/footer">Footer</a>
    <a href="/docs/html/main">Main</a>
    <h4>JS</h4>
    <a href="/docs/js/setTitle">setTitle</a>
    <a href="/docs/js/XYZConsole">XYZConsole</a>
  </div>
</main>

<header class="row space-between">
  <div class="logo"><span class="x">X</span><span class="y">Y</span><span class="z">Z</span></div>
  <xyz-nav class="navbar b">
    <a href="/">Home</a>
    <a href="/docs">Docs</a>
  </xyz-nav>
</header>
