@charset 'UTF-8';

:root {
  /** Theme Colors **/
  /* These are the main colors used for stlying elements across the app */
  --primary-color: #bbb;
  --secondary-color: darkgrey;
  --tertiary-color: lime;
  --background-color: #222;
  --background-border-color: #1d1d1d;
  --border-bg-color: #2e2e2e;

  /** Border **/
  --border-type: solid;
  --border-thickness: 1px;
  --border-radius: 0px;
  --border-color: #333;

  /* Scrollbar */
  --scrollbar-width: 5px;
  --scrollbar-track: #111;
  --scrollbar-handle: grey;

  /***********
   *  Sizes  *
   ***********/
  --max-width: 1300px;
  --margin-width: 900px;

  /***********
   *  Fonts  *
   ***********/
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --header-font: 'Open Sans', sans-serif;
  --font-size: var(--responsive-font-size);

  /************
   *  Images  *
   ************/
}

/***************
 *  Font-Face  *
 ***************/


/************
 *  Custom  *
 ************/

.logo {
  font-size: 4em;
  text-align: center;
  margin: auto;
  font-weight: 800;
}
.x {
  background: -webkit-linear-gradient(270deg, rgb(148, 0, 0) 0%, rgb(217, 65, 65) 50%, rgb(148, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.y {
  background: -webkit-linear-gradient(270deg, rgb(0, 148, 0) 0%, rgb(104, 217, 65) 50%, rgb(0, 148, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.z {
  background: -webkit-linear-gradient(270deg, rgb(0, 0, 148) 0%, rgb(65, 85, 217) 50%, rgb(0, 0, 148) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.js {
  background: -webkit-linear-gradient(270deg, rgb(145, 0, 148) 0%, rgb(252, 255, 93) 50%, rgb(145, 148, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.css {
  background: -webkit-linear-gradient(270deg, rgb(105, 0, 148) 0%, rgb(155, 65, 217) 50%, rgb(105, 0, 148) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* XYZ */
.xyz-theme {
  color: grey;
  background: #161515;
}
.xyz-theme .btn {
  color: dimgrey;
  background: #0b0b0b;
}
.xyz-theme img {
  object-fit: cover;
  height: 70px;
}


html {
  background: #111;
}
